@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
  width: 470px;
  margin: 30px auto;
  font-family: "Helvetica Neue", "Helvetica";
  color: gray;
}

h2 {
  font-family: 'Special Elite', cursive;
  color: black;
  font-size: 40px;
}